<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/parameters_menu.css">
	</head>
	<body>
		<div id="container" class="container-fluid">
			<!-- Upper bar: Profile+logo -->
			<div id="logobar" class="row">
				<div class="col-5 align-self-start">
					<a class="user row" href="">
						<div class="col-1">
							<img src="./images/website/user.png" alt="userpic">
						</div>
						<p class="col-7">Bonjour, Paul</p>
					</a>
				</div>
				<div class="col-7 align-self-center">
					<a class="logo" href="" class="col align-self-center">
						<img src="./images/website/paudus.png" alt="logo">
					</a>
				</div>
			</div>
			
			<!-- The rest of the page: Side navigation bar + actual view -->
			<div class="row therest">

				<!-- Side navigation bar -->
				<div id="menubar" class="col-md-2">
					<div class="row">
						<a href="">
							<img src="./images/website/dashboard.png" alt="dashboard_log">
							<span class="menubar_span">Tableau de bord</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/clock.png" alt="history_logo">
							<span class="menubar_span">Historique</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/evolution.png" alt="evolution_logo">
							<span class="menubar_span">Evolution</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/settings.png" alt="settings_logo">
							<span class="menubar_span">Paramètres</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/help.png" alt="help_logo">
							<span class="menubar_span">Aide</span>
						</a>
					</div>
				</div>

				<!-- Actual page content: Parameters here -->
				<div id="param_menu" class="container-fluid col-md-10">
					
					<!-- User parameters box -->
					<div id="user_box" class="container">
				
						<div id="row_user_title" class="row">
							<p id="user_title" class="parameter_title">
								USER PARAMETERS
							</p>
						</div>
				
						<div id="user_body" class="container">
					
							<div id="row_user_p1" class="row">
								<p id="user_p1" class="parameter_default">
									<span id="user_p1_desc" class="row parameter_desc">First user value:</span>
									<span id="user_p1_text" class="row parameter_text">Value of first param</span>
								</p>
							</div>
					
							<div id="row_user_p2" class="row">
								<p id="user_p2" class="parameter_default">
									<span id="user_p2_desc" class="row parameter_desc">Second user param:</span>
									<span id="user_p2_text" class="row parameter_text">Value of second param</span>
								</p>
							</div>
					
							<div id="row_user_p3" class="row">
								<p id="user_p3" class="parameter_default">
									<span id="user_p3_desc" class="row parameter_desc">Third user param:</span>
									<span id="user_p3_text" class="row parameter_text">Value of third param</span>
								</p>
							</div>
					
						</div>
					</div>
			
					<!-- Plant parameters box -->
					<div id="plant_box" class="container">
						<!-- Plant title "PLANT PARAMETERS" -->
						<div id="row_plant_title" class="row">
							<p id="plant_title" class="parameter_title">
								PLANT PARAMETERS
							</p>
						</div>
				
						<!-- List of parameters composed of descriptor: text -->
						<div id="plant_body" class="container-fluid">
					
							<div id="row_plant_p1" class="row">
								<p id="plant_p1" class="parameter_default">
									<span id="plant_p1_desc" class="row parameter_desc">First plant value:</span>
									<span id="plant_p1_text" class="row parameter_text">Value of first param</span>
								</p>
							</div>
					
							<div id="row_plant_p2" class="row">
								<p id="plant_p2" class="parameter_default">
									<span id="plant_p2_desc" class="row parameter_desc">Second plant param:</span>
									<span id="plant_p2_text" class="row parameter_text">Value of second param</span>
								</p>
							</div>
					
							<div id="row_plant_p3" class="row">
								<p id="plant_p3" class="parameter_default">
									<span id="plant_p3_desc" class="row parameter_desc">Third plant param:</span>
									<span id="plant_p3_text" class="row parameter_text">Value of third param</span>
								</p>
							</div>
					
						</div>
					</div>

					<!-- Button box -->
					<div id="button_box" class="container">
						<div id="man_auto_buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-primary active">
						    <input type="radio" name="options" id="option_auto" autocomplete="off" checked> Automatic
						  </label>
						  <label class="btn btn-secondary">
						    <input type="radio" name="options" id="option_man" autocomplete="off"> Manual
						  </label>
						</div>
					</div>
					
				</div>
				
			</div> <!-- end of therest -->
		</div> <!-- end of container -->
	</body>
</html>