<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap-grid.min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/parameters.css">
	</head>
	<body>
		<div id="container" class="container-fluid">
			<div id="logobar" class="row">
				<div class="col-5 align-self-start">
					<a class="user row" href="">
						<div class="col-1">
							<img src="./images/website/user.png" alt="userpic">
						</div>
						<p class="col-7">Bonjour, Paul</p>
					</a>
				</div>
				<div class="col-7 align-self-center">
					<a class="logo" href="" class="col align-self-center">
						<img src="./images/website/paudus.png" alt="logo">
					</a>
				</div>
			</div>
			<div class="row therest">
				<div id="menubar" class="col-md-2">
					<div class="row">
						<a href="">
							<img src="./images/website/dashboard.png" alt="dashboard_log">
							<span class="menubar_span">Tableau de bord</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/clock.png" alt="history_logo">
							<span class="menubar_span">Historique</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/evolution.png" alt="evolution_logo">
							<span class="menubar_span">Evolution</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/settings.png" alt="settings_logo">
							<span class="menubar_span">Paramètres</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/help.png" alt="help_logo">
							<span class="menubar_span">Aide</span>
						</a>
					</div>
				</div>

				<div id="boxmenu" class="container col-md-10">
					<div id="row_user_parameters" class="row">
						
						<div id="user_parameter_title" class="row">
							<p class="col-auto">User Parameters</p>
						</div>
						
						<div id="user_parameter_body" class="row">
							<p class="col-auto">
								<span class="current_day">mercredi</span>
								<span class="current_month_year">27 decembre 2018</span>
							</p>
							<p class="current_temperature col">16&#176;</p>
						</div>
						
					</div>
					
					<div id ="row_plant_parameters" class="row">
						
					</div>
				</div>
			</div>
		</div>

	</body>
</html>