<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap-grid.min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/paud3.css">

	</head>
	<body>
		<div id="container" class="container-fluid">
			<div id="logobar" class="row">
				<div class="col-5 align-self-start">
					<a class="user row" href="">
						<div class="col-1">
							<img src="./images/website/user.png" alt="userpic">
						</div>
						<p class="col-7">Bonjour, Paul</p>
					</a>
				</div>
				<div class="col-7 align-self-center">
					<a class="logo" href="" class="col align-self-center">
						<img src="./images/website/paudus.png" alt="logo">
					</a>
				</div>
			</div>
			<div class="row therest">
				<div id="menubar" class="col-md-2">
					<div class="row">
						<a href="">
							<img src="./images/website/dashboard.png" alt="dashboard_log">
							<span class="menubar_span">Tableau de bord</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/clock.png" alt="history_logo">
							<span class="menubar_span">Historique</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/evolution.png" alt="evolution_logo">
							<span class="menubar_span">Evolution</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/settings.png" alt="settings_logo">
							<span class="menubar_span">Paramètres</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/help.png" alt="help_logo">
							<span class="menubar_span">Aide</span>
						</a>
					</div>
				</div>	
				
				
				
				
				
				<div id="param_user" class="">
					
					<a id="update_temp" class="row" href="">
						<div class="img_cont col-md-2">
							<img src="./images/website/temperature.png" alt="temp_logo">
						</div>
						
						<p class="update_temp_date col-md-10">
							<span class="row update_title">Température intérieure</span>
							<span class="row update_value">19&#176;</span>
						</p>
					</a>
					
					
					<a id="update_water" href="" class="row">
						<div class="img_cont col-md-2">
							<img src="./images/website/watering.png" alt="water_logo">
						</div>
						<p class="update_water_date col-md-10">
							<span class="row update_title">Dernier arrosage</span>
							<span class="row update_value">Il y a 30 min</span>
						</p>
			
					</a>
					
					
					<a id="update_heat" href="" class="row">
						<div class="img_cont col-md-2">
							<img src="./images/website/heat.png" alt="heat_logo">
						</div>
						<p class="update_heat_date col-md-10">
							<span class="row update_title">Dernier chauffage</span>
							<span class="row update_value">Il y a 15 min</span>
						</p>
					</a>
					
					
					<a id="update_cold" href="" class="row">
						<div class="img_cont col-md-2">
							<img src="./images/website/cold.png" alt="cold_logo">
						</div>
						<p class="update_cold_date col-md-10">
							<span class="row update_title">Dernière ventilation</span>
							<span class="row update_value">Il y a 1 min</span>
						</p>
					</a>
					
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
	</body>