<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap-grid.min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/paud3.css">
	</head>
	<body>
		<div id="container" class="container-fluid">
			<div id="logobar" class="row">
				<div class="col-5 align-self-start">
					<a class="user row" href="">
						<div class="col-1">
							<img src="./images/website/user.png" alt="userpic">
						</div>
						<p class="col-7">Bonjour, Paul</p>
					</a>
				</div>
				<div class="col-7 align-self-center">
					<a class="logo" href="" class="col align-self-center">
						<img src="./images/website/paudus.png" alt="logo">
					</a>
				</div>
			</div>
			<div class="row therest">
				<div id="menubar" class="col-md-2">
					<div class="row">
						<a href="">
							<img src="./images/website/dashboard.png" alt="dashboard_log">
							<span class="menubar_span">Tableau de bord</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/clock.png" alt="history_logo">
							<span class="menubar_span">Historique</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/evolution.png" alt="evolution_logo">
							<span class="menubar_span">Evolution</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/settings.png" alt="settings_logo">
							<span class="menubar_span">Paramètres</span>
						</a>
					</div>
					<div class="row">
						<a href="">
							<img src="./images/website/help.png" alt="help_logo">
							<span class="menubar_span">Aide</span>
						</a>
					</div>
				</div>

				<div id="boxmenu" class="container col-md-10">
					<div id="row1" class="row">
						<div id="datebox" class="col-md-auto">
							<div class="datebox_row1 row">
								<p class="time col">17:54</p>
								<div id="weather" class="col">
									<img src="./images/weather/cloudy.png" alt="current_weather">
									<p class="current_city">Brest, France</p>
								</div>
							</div>
							<div class="datebox_row2 row">
								<p class="current_date col-auto">
									<span class="current_day">mercredi</span>
									<span class="current_month_year">27 decembre 2018</span>
								</p>
								<p class="current_temperature col">16&#176;</p>
							</div>
						</div>

						<div id="plantbox" class="col-md-auto">
							
								<div class="row plantbox_row1">
									<img class="plant_view" src="./images/plants/radish/radish_ex2.jpg" alt="ma plante">
								</div>
								<div class="row plantbox_row2">
									<div class="col-auto mr-auto">
										<p class="plant_day">Jour</p>
										<p class="plant_day_num">12</p>
									</div>
									<div class="col-auto camera_icon_cont">
										<!--<img class="camera_icon" src="./images/website/camera.png" alt="camera">-->
										<div class="camera_icon"></div>
									</div>
								</div>
							
							<!--<div class="when_taken">
								<p class="when_taken_date">17:51</p>
							</div>-->
						</div>


						<div id="statsbox" class="col-md-auto">
							
							<a id="update_temp" class="row" href="">
								<div class="img_cont col-md-2">
									<img src="./images/website/temperature.png" alt="temp_logo">
								</div>
								
								<p class="update_temp_date col-md-10">
									<span class="row update_title">Température intérieure</span>
									<span class="row update_value">19&#176;</span>
								</p>
							</a>
							
							
							<a id="update_water" href="" class="row">
								<div class="img_cont col-md-2">
									<img src="./images/website/watering.png" alt="water_logo">
								</div>
								<p class="update_water_date col-md-10">
									<span class="row update_title">Dernier arrosage</span>
									<span class="row update_value">Il y a 30 min</span>
								</p>
					
							</a>
							
							
							<a id="update_heat" href="" class="row">
								<div class="img_cont col-md-2">
									<img src="./images/website/heat.png" alt="heat_logo">
								</div>
								<p class="update_heat_date col-md-10">
									<span class="row update_title">Dernier chauffage</span>
									<span class="row update_value">Il y a 15 min</span>
								</p>
							</a>
							
							
							<a id="update_cold" href="" class="row">
								<div class="img_cont col-md-2">
									<img src="./images/website/cold.png" alt="cold_logo">
								</div>
								<p class="update_cold_date col-md-10">
									<span class="row update_title">Dernière ventilation</span>
									<span class="row update_value">Il y a 1 min</span>
								</p>
							</a>
							
						</div>
					</div>
					<div class="row2 row">
						<div id="plant_info" class="col-lg-auto">
							<div class="row">
								<div class="col-md-auto">
									<p class="plant_info_h1">Ma plante</p>
									<p class="plant_name">Radis</p>
								</div>
								<div class="col-md-auto plant_info_pic_cont">
									<img id="plant_info_pic" src="./images/plants/radish/radish_id.jpg" alt="ma plante">
								</div>
							</div>
							<div id="plant_needs">
								<div class="plant_needs row" id="plant_needs_sun">
									<div class="col-md-2">
										<img src="./images/website/sun.png" alt="sun">
									</div>
									<div class="col-md-9">
										<p class="plant_info_h3">Exposition</p>
										<p class="plant_needs_text">
											Endroit chaud et ensoleillé
										</p>
									</div>
								</div>
								<div class="plant_needs row" id="plant_needs_water">
									<div class="col-md-2">
										<img src="./images/website/waterdrop.png" alt="waterdrop">
									</div>
									<div class="col-md-9">
										<p class="plant_info_h3">Arrosage</p>
										<p class="plant_needs_text">
											Régulièrement mais pas trop
										</p>
									</div>
								</div>
								<div class="plant_needs row" id="plant_needs_soil">
									<div class="col-md-2">
										<img src="./images/website/soil.png" alt="soil">
									</div>
									<div class="col-md-9">
										<p class="plant_info_h3">Terreau</p>
										<p class="plant_needs_text">
											Riche et bien drainé
										</p>
									</div>
								</div>
							</div>
							<div id="plant_howto" class="row justify-content-center">
								<p class="plant_info_h3">+ Plus d'informations</p>
							</div>
						</div>

						<div id="status" class="col-lg-auto">
							<p id="status_title" class="row">Status</p>
							<div class="row">
								<div id="lum_measurements" class="measurements_div col-lg-auto">
									<p class="measurements_title row justify-content-end">Luminosité</p>
									<div class="measurements_values row ">
										<p class="val_paud ">54</p>
										<p class="val_theor">/60</p>
										<img src="./images/website/arrow_up.png" class="arrow" alt="arrow_up">
									</div>
								</div>

								<div id="hum_measurements" class="measurements_div col-lg-auto">
									<p class="measurements_title row justify-content-end">Humidité</p>
									<div class="measurements_values row">
										<p class="val_paud">51</p>
										<p class="val_theor">/46</p>
										<img src="./images/website/arrow_down.png" class="arrow" alt="arrow_down">
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>