<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/css/paud_homepage.css">
	</head>
	<body>
		<div id="navbar">
			<div class="navbar_left">
				<a class="logo" href="">
					<img src="images/website/logo5.png" alt="PAuD">
				</a>
			</div>
			<ul class="navbar_right">
				<li>
					<a class="searchbutton" href="">
						<img src="images/website/search.png" alt="searchbutton">
					</a>
				</li>
				<li>
					<a class="settings" href="">
						<img src="images/website/settings.png" alt="settings">
					</a>
				</li>
				<li>
					<a class="usermenu" href="">
						<img src="images/website/user.png" alt="usermenu">
					</a>
				</li>
			</ul>

		</div>
		<div id="content">
			<div id="plant">
				<img src="" alt="plant_phase">
			</div>
			<div id="">
				
			</div>
		</div>
	</body>
</html>